@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap");
/*@import url("https://basehold.it/35");*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit;}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Begin site styles... */

html{
  font-family: 'Raleway', 'Times New Roman', Times;
  background: #412;
  color: #EEE;
  font-size: 18px;
  line-height: 25px;
  padding: 22px;
}
h1{
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 20px;
}
h2{
  font-weight: bold;
  padding: 25px 0px 4px 0px;
}
h3{
  padding: 25px 0px 14px 0px;
  font-weight: bold;
}
h4{
  padding: 15px 0px 0px 0px;
}
li p{
  padding-top: 10px;
}
main li p{
  padding: 11px 0px 18px 0px;
}
aside h3{
  padding: 0px 0px 11px 0px;
}
p{
  padding: 11px 0px 11px 0px;
}
main p{
  padding: 22px 0px 0px 0px;
}
section h3{
  padding: 20px 0px 5px 0px;
}
section li{
  padding: 0px 0px 0px 0px;
}
#navigation ul{
  display: flex;
  border: 5px solid rgb(137, 210, 220);
  background-color: #DC758F;
}
#navigation li{
  flex: 1;
}
#navigation li a{
  color: #412;
  text-decoration: none;
}
#freetime{
  padding: 11px 0px 11px 0px;
  font-weight: 700;
}
#schools {
  padding: 19px 0px 11px 0px;
  text-decoration: underline;
  padding-bottom: 25px;
}
#languages{
  list-style-type: disc;
}
#contact {
  font-weight: normal;
  font-size: 20px;
}
#contact li{
  padding: 11px 0px 11px 0px;
}
#contact li a{
  color: white;
  text-decoration: none;
}
#footer{
  padding-top: 15px;
}
img{
  display: block;
  max-width: 100%;
}
@media screen and (min-width: 600px) {
  html{
      padding: 15px 10% 25px 10%;
      line-height: 35px;
  }
  h1{
    text-align: center;
    font-size: 50px;
  }
  h2{
    text-align: center;
    padding-top: 40px;
  }
  h2,h3{

    font-size: 30px;
  }
  article h2{
    text-align: center;
  }
  aside h3{
    padding: 30px 0px 11px 0px;
  }
  p{
    font-size: 22px;
  }
  ul ul li{
    padding: 30px 0px 0px 0px;
    font-size: 23px;
  }
  #schools {
    padding: 25px 0px 0px 0px;
    text-decoration: underline;
    font-size: 30px;
  }
  #contact li{
    padding: 20px 0px 11px 0px;
  }
  #footer p{
    font-size: 15px;
  }
}
@media screen and (min-width: 820px) {
  html{
    font-size: 30px;
  }
  h1{
    font-size: 50px;
    padding-bottom: 30px;
  }
  h2{
    text-align: center;
    padding-top: 30px;
  }
  h2,h3{
    font-size: 40px;
  }
  article h2{
    text-align: center;
  }
  aside h3{
    padding: 65px 0px 15px 0px;
  }
  h4{
    padding: 25px 0px 0px 0px;
  }
  p{
    font-size: 30px;
  }
  ul ul li{
    padding: 30px 0px 5px 0px;
    font-size: 30px;
  }
  ul li p{
    padding: 30px 0px 15px 0px;
  }
  main h3{
    padding: 30px 0px 30px 0px;
  }
  main h2{
    padding-bottom: 15px;
  }
  #dreamcars p{
    padding: 40px 0px 15px 0px;
  }
  #schools {
    padding: 25px 0px 12px 0px;
    text-decoration: underline;
    font-size: 30px;
  }
  #contact li{
    padding: 20px 0px 13px 0px;
  }
  #navigation ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 5px solid rgb(137, 210, 220);
    background-color: #DC758F;
    font-size: 30px;
  }
  img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1500px;
  max-height: 800px;
}
}
